
.shape_settings {
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 720px;
    width: 540px;
    box-shadow:  0 30px 30px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.shape_settings_fin {
    padding: 20px;
}

.id_user {
    padding: 20px;
    padding-left: 140px;
}

.non_id_user {
    position: absolute;
    height: 120px;
    width: 100%;
    top: 0px;
    background-color: #000;
    display: none;
}
#unknown_user:target {
    display: block;
}
